@{
    ViewData["Title"] = "Welcome";
}

<div>
    <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
    <br /><br />
</div>

<div class="row">
    <div class="col-5 md-3">
        <h2>Seja um Aluno</h2>
        <ul>
            <li>Comodidade</li>
            <li>Confiança</li>
            <li>Seguraça</li>
            <li>Encontre prossionais competentes</li>
        </ul>

        <button id="btn-">Cadastre-se já</button>
    </div>
    <div class="col-5 md-3">
        <h2>Seja um Personal</h2>
        <ul>
            <li>Alunos te procuram</li>
            <li>Cadastre suas especialidades</li>
            <li>Cative</li>
            <li>De um boom na sua carreira</li>
        </ul>

        <button id="btn-personal-cad">Cadastre-se já</button>
    </div>
</div>